/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');  /* font-family: 'Kufam', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */

// Variables 
// Fonts 
$title-font: 'Kufam', cursive;
$text-font: 'Montserrat', sans-serif;

// Colors 
$primary-dark: #212121;
$primary-light: #fff;
$primary-contrast: #fc8d00;
$secondary-dark: #535353;
$secondary-light: #f4f4f4;
$secondary-contrast: #eea344;
$shadow-top-left: #181818;
$shadow-top-left-alpha: rgba(24,24,24, 0.5);
$shadow-bottom-right: #2a2a2a;
$shadow-bottom-right-alpha: rgba(24,24,24, 0.1);;
$box-gradient-start: #1e1e1e;
$box-gradiend-end: #232323;

// General styling rules 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  font-family: $text-font;
  background: $primary-dark;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}


// Utility classes 
.content-card-out {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 11px;
  background: linear-gradient(315deg, $box-gradient-start , $box-gradiend-end);
  box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;
}
.content-card-inset {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 11px;
  background-color: $primary-dark;
  z-index: 1;
}

.content-card-inset::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
    z-index: -1;
}

.content-money-card {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 11px;
  background-color: $primary-dark;
  padding: 5px;
  text-align: center;
  z-index: 2;

      span {
        color: $primary-light;
        letter-spacing: 3px;
        font-weight: bolder;
        font-size: 18px;
      }
}

.content-money-card::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
    z-index: -1;
}

.pos-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pos-flex-split {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.title-l {
  font-family: $title-font;
  color: $primary-contrast;
  font-size: 26px; /* Change if ness */
}
.title-sm {
  font-family: $title-font;
  color: $secondary-contrast;
  font-size: 24px; /* Change if ness */
}

.form-control {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: $text-font;
  font-size: 18px;
  color: $primary-light;
  background-color: $primary-dark;
  box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
}

.input-fix {
  width: 450px !important;
}

// UI styling 

// Dashboard


  // Navigation
  .nav-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-right: $shadow-bottom-right-alpha outset 7px;
    background-color: $primary-dark;
    z-index: 1;
    text-align: start;

    h2{
      height: 10%;
      padding: 20px 10px 20px 40px;
      color: $primary-contrast;
    }

    .nav-list {
     padding: 20px;
     width: 100%;
     height: 100%;


      ul{
        height: 100%;
        list-style: none;

        li {
          padding: 20px;
          color: $primary-light;
        }
   
        a{
          text-decoration: none;
          color: $primary-light;
          transition: color .5s ease;
        }
   
        a:hover{
          color: $secondary-contrast;
        }
      }

     

    }

    .nav-footer {
      width: 100%;
      height: 30%;
      padding: 20px;
      text-align: center;
      color: $primary-light;
      ul {
        list-style: none;
        padding-bottom: 20px;
        height: 70%;
       
        li {
            padding: 5px 10px;

            a{
              text-decoration: none;
              color: $primary-light;
              transition: all .5s ease;
              opacity: 0.2;
            }
            a:hover{
              color: $secondary-contrast;
              opacity: 1;
            }
          }
        
      }

      p{
        width: 100%;
        height: 10%;
        font-size: 12px;
        opacity: 0.2;
      }
    }

  }

  // .nav-box::before{
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   width: 100%;
  //   border-radius: 3px;
  //   box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
  //               inset 10px 10px 15px $shadow-bottom-right-alpha;
  //   z-index: -1;
  // }



  // Main content 
  #content-box {
    width: 70%;
    padding: 30px 0;
    height: 100%;
    justify-content: flex-start;

    .curr-goal-card {
      padding: 20px;
      text-align: center;
      width: 600px;
      height: 12%;
      z-index: 10;
      h2 {
        color: $primary-contrast;
      }
      .curr-goal-sum{
        padding: 5px;
        text-align: center;
        width: 200px;
        height: 50%;
        z-index: 2;
        span {
          color: $primary-light;
          letter-spacing: 3px;
          font-weight: bolder;
        }
      }

    }

    

    .info-cards {
      padding: 20px 5px;
      width: 100%;
      height: 20%;
      justify-content: space-around;
      .info-card {
        width: 250px;
        height: 100%;
        padding: auto, 5px ;
        color: $primary-light;
        font-size: 18px;

        h4{
          font-family: $title-font;
          color: $secondary-contrast;
          font-size: 20px;
          padding-bottom: 10px;
        }
      }
    }

    .call-buttons-container {
      margin-top: 2%;
      width: 20%;
      height: 5%;
      display: flex;
      flex-direction: row;

    .line {
      border-right: $primary-contrast solid 2px;
    }

      div {
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: start;

        a {
          cursor: pointer;
          text-align: center;
          background: transparent;
          border: none;
          color: $primary-light;
          font-size: 20px;
          text-decoration: none;
          width: 100%;
          height: 100%;

          span {
            width: 100%;
            height: 100%;
            font-size: 24px;
          }

        }

       
      }

     
    }

    .form-container {
      padding: 40px 0 0 0;
      width: 100%;
      // min-height: 10%;
      height: 20%;
      
      form {
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        // margin: auto;
        text-align: center;

        div{
          &:first-child{
            margin-right: 5px;
          }

          input:focus, select:focus {
            outline: none;
          }

          input[type=number] {
            font-weight: bolder;
            width: 445px;
            border-bottom: 2px solid $primary-contrast;
            border-right: 2px solid $primary-contrast;
          }
          input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
}
          input[type=number] {
            padding: 10px 25px;
            border-radius: 5px;
          }
          input[type=submit]{
            cursor: pointer;
          }
          input[type=submit] {
            margin-top: 10px;
            width: 450px;
            height: auto;
            padding: 10px 30px;
            border-top: 2px solid $primary-contrast;
            border-left: 2px solid $primary-contrast;
            border-radius: 5px;
          }

        }

        
      }

      
    }

    .history-container {
      width: 100%;
      min-height: 10%;
      padding: 10px 0;
      text-align: start;

      h2 {
        font-size: 22px;
        font-family: $title-font;
        color: $primary-contrast;
        // margin: 10% 10% auto ;
      }


      ul {
        text-align: start;
        list-style-type: none;
        height: 100%;
        width: 100%;
        li {
         width: 100%;
          height: 10%;
          color: $primary-light;
          font-size: 20px;
  
        .sign {
          width: 50px;
          height: 5%;
          font-size: 24px;
          text-align: center;
          color: $primary-contrast;
          padding-right: 10px;
          padding: 10px;
        }

        .sum {
          padding: 0, 5px;
          width: 300px;
          height: 12%;
          text-align: start;
        }

        .date {
          width: 200px;
          height: 12%;
          text-align: end;
          color: $secondary-dark;
        }
  
        }
      }

      

    }

    .latest-history-container {
       
      width: 100%;
      min-height: 10%;
      margin-top: 2%;
      padding: 10px 0;
      text-align: start;

      h2 {
        font-size: 22px;
        font-family: $title-font;
        color: $primary-contrast;
        // margin: 10% 10% auto ;
      }


      ul {
        text-align: start;
        list-style-type: none;
        height: 100%;
        width: 100%;
        li {
         width: 100%;
          height: 20%;
          color: $primary-light;
          font-size: 20px;
  
        .sign {
          width: 50px;
          height: 5%;
          font-size: 24px;
          text-align: center;
          color: $primary-contrast;
          padding-right: 10px;
          padding: 10px;
        }

        .sum {
          padding: 0, 5px;
          width: 300px;
          height: 12%;
          text-align: start;
        }

        .date {
          width: 200px;
          height: 12%;
          text-align: end;
          color: $secondary-dark;
        }
  
        }
      }
  
      
    }

    .settings-container {
      width: 70%;
      height: 100%

        //Don't know why this happens, but if remove this empty h2 the next selector won't work 
        h2{}
          h2{
            margin: 3rem 0;
            font-family: $title-font;
            color: $primary-contrast;
          }  
          ul{
            list-style: none;

            li {
              padding: 5px;

              a {
                color: $primary-light;
                text-decoration: none;
              }

              button {
                cursor: pointer;
                color: $primary-light;
                text-decoration: none;
                background: transparent;
                border: none;
              }

              button:focus{
                outline: none;
              }
          }
          }

    }

    .goal-form {
      width: 100%;
      height: 100%;
      // margin: auto;
      padding: 15%;
      align-items: center;
      justify-content: center;

      h2 {
        padding: 30px auto;
      }

      p{
        padding: 10px auto;
        color: $primary-light;
        font-size: 18px;
      }

      form {
       height: 100%;
       width: 100%;

       .inputs {
         padding: 10px;
         width: 100%;
         height: 100%;
          div {
          padding: 15px;
          width: 100%;
            input, select {
            width: 100%;
            padding: 10px;
          }

            select {
            cursor: pointer;
            border: 1px solid $primary-contrast;
          }
  
            input:focus, select:focus{
            outline: none;
            box-shadow: 0 0 5px $secondary-contrast;
          }

          input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
}
  
            input[type=text], input[type=number]{
            height: 100%;
            border-bottom: 2px solid $primary-contrast;
            border-right: 1px solid $primary-contrast;
          }

            input[type=submit]{
            height: 100%;
            cursor: pointer;
            border-top: 2px solid $primary-contrast;
            border-left: 2px solid $primary-contrast;
          }
        }
       }

       

       

      }
    }
    
  }


// Register and Login pages 
.auth-form-container {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  color: $primary-light;
  .form-card {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  width: 500px;
  height: 700px;
  border-radius: 11px;
  background: linear-gradient(315deg, $box-gradient-start , $box-gradiend-end);
  box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;

  h2 {
    margin: 30px 0;
    color: $primary-contrast;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  form {
    width: 80%;
    height: 80%;
    margin: 0, auto;
    text-align: center;
    input {
      width: 100%;
      height: 40px;
      margin: 10px 0;
      border-radius: 3px;
      border-right: solid 1px $primary-contrast ;
      border-bottom: solid 1px $primary-contrast ;
    }

    input:focus{
      outline: none;
      box-shadow: 0 0 10px $primary-contrast;
      background-color: $primary-dark;
    }

    input[type=submit]{
      cursor: pointer;
      background-color: $secondary-contrast;
      box-shadow: none;
      border: $primary-contrast solid 1px;
      font-weight: bold;
      transition: background-color .5s ease;
    }

    input[type=submit]:hover{
      background-color: $primary-contrast;
    }
  }

  .links {
    height: 20%;


    a {
      color: $primary-contrast;
      text-decoration: none;
    }

  }
                
  }
}

// About and Contact Pages
.page-container {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  color: $primary-light;
 
  // Utility components
  // Nav bar: used in contact, about and setGoal  
    .page-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    
    h2{
      font-family: $title-font;
      color: $primary-contrast;
     }
  
      ul {
        padding-top: 20px;
        list-style-type: none;
        justify-self: flex-end;
        flex-direction: row;
        text-align: end;

        li {
          padding: 10px;
          height: auto;

          a {
            margin: 0 10px;
            padding: 0;
            text-decoration: none;
            color: $primary-light;
          }
        }
      }
  

      
  }

  // Contact page
  .contact-content{
    margin-top: 5rem;
    align-self: center;
    justify-self: center;

    .info-cards {
      .info-card {
        margin: 20px;

        h4{
          font-size: 20px;
          color: $primary-contrast;
        }

        p{
          padding: 10px;
        }

        ul {
          padding: 10px 0;
          list-style: none;
          text-align: start;

          li {
            color: $primary-light;

            a {
              color: $primary-light;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // About page
  .about-content {
    width: 100%;
    height: 100%;
    min-height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    .about-info {
      margin: 2rem 0 2rem 2rem;
      width: 30%;
      min-height: 600px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: start;

      h2{
        font-family: $title-font;
        color: $primary-contrast;
        margin-bottom: 2rem;
      }

      p {
        width: 100%;
      }
    }

    .about-card {
      margin: 2rem 2rem 2rem 0;
      width: 30%;
      min-height: 600px;
      height: 100%;
      border-radius: 11px;        
      background: url('./img/tired.jpeg') no-repeat center center/cover;
      box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;
     
    }
  }

  // New goal creation
  .new-goal-form{
    margin: auto;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .goal-card {
      width: 40%;
      min-height: 70%;
      border-radius: 11px;
      box-shadow:  -10px -10px 15px $shadow-top-left-alpha,
                   10px 10px 15px $shadow-bottom-right-alpha;

      h1, h2 {
        padding: 10px 0;
      } 
      
      form {
        height: 100%;
        width: 100%;
 
        .inputs {
          padding: 10px;
          width: 100%;
          height: 100%;
           div {
           padding: 15px;
           width: 100%;
             input, select {
             width: 100%;
             padding: 10px;
           }
 
             select {
             cursor: pointer;
             border: 1px solid $primary-contrast;
           }
   
             input:focus, select:focus{
             outline: none;
             box-shadow: 0 0 5px $secondary-contrast;
           }

           input[type=number]::-webkit-inner-spin-button, 
           input[type=number]::-webkit-outer-spin-button { 
           -webkit-appearance: none; 
           margin: 0; 
            }
   
             input[type=text], input[type=number]{
             height: 100%;
             border-bottom: 2px solid $primary-contrast;
             border-right: 1px solid $primary-contrast;
           }
 
             input[type=submit]{
             height: 100%;
             cursor: pointer;
             border-top: 2px solid $primary-contrast;
             border-left: 2px solid $primary-contrast;
           }
         }
        }
 
        
 
        
 
       }

       .button-holder {
         margin: auto;
         padding: 20px;
         width: 80%;
         height: 90%;
         display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          div {
            width: 50%;
          }
        button {
          width: 70px;
          padding: 5px;
          background: transparent;
          color: $secondary-light;
          font-size: 16px;
          font-family: $title-font;
          border: $primary-contrast 1px solid;
          border-radius: 3px;
        }
       }
      
      

    }
  }

  // Footer: used in about, contact and setGoal 
  .footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 85%;
    color: $primary-contrast;

    p {
      opacity: 0.3;
      color: $primary-contrast;
    }

}

}