/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');  /* font-family: 'Kufam', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */




// Variables 
// Fonts 
$title-font: 'Kufam', cursive;
$text-font: 'Montserrat', sans-serif;

// Colors 
$primary-dark: #212121;
$primary-light: #fff;
$primary-contrast: #fc8d00;
$secondary-dark: #535353;
$secondary-light: #f4f4f4;
$secondary-contrast: #eea344;
$shadow-top-left: #181818;
$shadow-top-left-alpha: rgba(24,24,24, 0.5);
$shadow-bottom-right: #2a2a2a;
$shadow-bottom-right-alpha: rgba(24,24,24, 0.1);;
$box-gradient-start: #1e1e1e;
$box-gradiend-end: #232323;

// General styling rules 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  font-family: $text-font;
  background: $primary-dark;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  transition: background-color 5000s;
  -webkit-text-fill-color: $primary-light !important;
}


// Utility classes 
.content-card-out {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 11px;
  background: linear-gradient(315deg, $box-gradient-start , $box-gradiend-end);
  box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;
}
.content-card-inset {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 11px;
  background-color: $primary-dark;
  z-index: 1;
}

.content-card-inset::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
    z-index: -1;
}

.content-money-card {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 11px;
  background-color: $primary-dark;
  padding: 5px;
  text-align: center;
  z-index: 2;

      span {
        color: $primary-light;
        letter-spacing: 3px;
        font-weight: bolder;
        font-size: 18px;
      }
}

.content-money-card::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
    z-index: -1;
}

.pos-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pos-flex-split {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.title-l {
  font-family: $title-font;
  color: $primary-contrast;
  font-size: 26px; /* Change if ness */
}
.title-sm {
  font-family: $title-font;
  color: $secondary-contrast;
  font-size: 24px; /* Change if ness */
}

.form-control {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: $text-font;
  font-size: 18px;
  color: $primary-light;
  background-color: $primary-dark;
  box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
}

.input-fix {
  width: 450px !important;
}

.no-display {
  display: none;
}

// Loader 
.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}


// UI styling 

// Dashboard


  // Navigation
  .nav-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 100%;
    border-right: $shadow-bottom-right-alpha outset 7px;
    background-color: $primary-dark;
    z-index: 1;
    text-align: start;

    h2{
      height: 30px;
      padding: 20px 10px 20px 40px;
      color: $primary-contrast;
    }

    .nav-list {
     padding: 20px;
     width: 100%;
     height: 80%;


      ul{
        height: 100%;
        list-style: none;

        li {
          padding: 20px;
          color: $primary-light;
        }
   
        a{
          text-decoration: none;
          color: $primary-light;
          transition: color .5s ease;
        }
   
        a:hover{
          color: $secondary-contrast;
        }
      }

     

    }

    .nav-footer {
      width: 100%;
      height: 120px;
      padding: 20px;
      text-align: center;
      color: $primary-light;
      ul {
        list-style: none;
        padding-bottom: 20px;
        height: 50px;
       
        li {
            padding: 5px 10px;

            a{
              text-decoration: none;
              color: $primary-light;
              transition: all .5s ease;
              opacity: 0.2;
            }
            a:hover{
              color: $secondary-contrast;
              opacity: 1;
            }
          }
        
      }

      p{
        width: 100%;
        height: 20px;
        font-size: 12px;
        opacity: 0.2;
        color: $primary-contrast;
      }
    }

  }

  // Main content 
  #content-box {
    width: 70%;
    padding: 30px 0;
    height: 100%;
    justify-content: flex-start;

    .curr-goal-card {
      padding: 20px;
      text-align: center;
      width: 600px;
      height: 100px;
      z-index: 10;
      h2 {
        color: $primary-contrast;
      }
      .curr-goal-sum{
        padding: 5px;
        text-align: center;
        width: 200px;
        height: 50px;
        z-index: 2;
        span {
          color: $primary-light;
          letter-spacing: 3px;
          font-weight: bolder;
        }
      }

    }

    

    .info-cards {
      padding: 20px 5px;
      width: 100%;
      height: 200px;
      justify-content: space-around;
      .info-card {
        width: 250px;
        height: 100%;
        padding: auto, 5px ;
        color: $primary-light;
        font-size: 18px;

        h4{
          font-family: $title-font;
          color: $secondary-contrast;
          font-size: 20px;
          padding-bottom: 10px;
        }
      }
    }

    .call-buttons-container {
      margin-top: 2%;
      width: 300px;
      height: 50px;
      display: flex;
      flex-direction: row;

    .line {
      border-right: $primary-contrast solid 2px;
    }

      div {
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: start;

        a {
          cursor: pointer;
          text-align: center;
          background: transparent;
          border: none;
          color: $primary-light;
          font-size: 20px;
          text-decoration: none;
          width: 100%;
          height: 100%;

          span {
            width: 100%;
            height: 100%;
            font-size: 24px;
          }

        }

       
      }

     
    }

    .form-container {
      padding: 30px 0 0 0;
      width: 100%;
      // min-height: 10%;
      height: 200px;
      
      form {
        width: 100%;
        height: 60%;
        // padding-bottom: 10px;
        // margin: auto;
        text-align: center;

        div{
          input:focus, select:focus {
            outline: none;
          }

          input[type=number] {
            font-weight: bolder;
            width: 445px;
            border-bottom: 2px solid $primary-contrast;
            border-right: 2px solid $primary-contrast;
          }
          input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
}
          input[type=number] {
            padding: 10px 25px;
            border-radius: 5px;
          }
        
          input[type=submit] {
            cursor: pointer;
            margin-top: 10px;
            width: 450px;
            height: auto;
            padding: 10px 30px;
            border-top: 2px solid $primary-contrast;
            border-left: 2px solid $primary-contrast;
            border-radius: 5px;
          }

        }

        
      }

      
    }

    .history-container {
      width: 100%;
      min-height: 10%;
      padding: 10px 0;
      text-align: start;

      h2 {
        font-size: 22px;
        font-family: $title-font;
        color: $primary-contrast;
        // margin: 10% 10% auto ;
      }


      ul {
        text-align: start;
        list-style-type: none;
        height: 100%;
        width: 100%;
        li {
         width: 100%;
          height: 40px;
          padding: 10px;
          color: $primary-light;
          font-size: 20px;

          .history-action {
            display: inline-block;
            text-align: start;
            padding: 0 0 0 15px;
             width: 150px !important;
             color: $primary-light;
            font-size: 20px;
    }  
  
        .sign {
          width: 50px;
          height: 3%;
          font-size: 24px;
          text-align: center;
          color: $primary-contrast;
          padding: 3px 10px 0 0;
        }

        .sum {
          padding: 0, 5px;
          width: 300px;
          height: 22px;
          text-align: start;
        }

        .date {
          width: 200px;
          height: 22px;
          text-align: end;
          color: $secondary-dark;
        }
  
        }
      }

      .history-nav-btns {
        padding-top: 40px;
        height: 40px;
        width: 100%;
        margin: 0, auto;
        text-align: center;
        .history-nav-btn {
          cursor: pointer;
          background: transparent;
          border: none;
          color: $primary-light;
          font-size: 18px;
          padding: 10px;
          transition: color ease .3s;
        }

        .history-nav-btn:focus {
          outline: none;
        }
        .history-nav-btn:hover {
          color: $primary-contrast;
        }
      }

    }

    .latest-history-container {
       
      width: 100%;
      min-height: 300px;
      // margin-top: 2%;
      padding: 30px 20px 30px 10px;
      text-align: start;

      h2 {
        font-size: 22px;
        font-family: $title-font;
        color: $primary-contrast;
        // margin: 10% 10% auto ;
      }


      ul {
        text-align: start;
        list-style-type: none;
        height: 100%;
        width: 100%;
        li {
         width: 100%;
          height: 40px;
          color: $primary-light;
          font-size: 20px;

          
      .history-action {
        display: inline-block;
        text-align: start;
        padding-left: 15px;
        height: 5% !important;
        width: 150px !important;
         color: $primary-light;
        font-size: 20px;
}
  
        .sign {
          width: 50px;
          height: 3%;
          font-size: 24px;
          text-align: center;
          color: $primary-contrast;
          padding: 3px 10px 0 0;
        }

        .sum {
          padding: 0, 5px;
          width: 300px;
          height: 22px;
          text-align: start;
        }

        .date {
          width: 200px;
          height: 22px;
          text-align: end;
          color: $secondary-dark;
        }
  
        }
      }
  
      
    }

    .settings-container {
      width: 70%;
      height: 100%

        //Don't know why this happens, but if remove this empty h2 the next selector won't work 
        h2{}
          h2{
            margin: 3rem 0;
            font-family: $title-font;
            color: $primary-contrast;
          }  
          ul{
            list-style: none;

            li {
              padding: 5px;

              a {
                color: $primary-light;
                text-decoration: none;
                font-family: $title-font;
                font-size: 18px;
              }

              button {
                cursor: pointer;
                color: $primary-light;
                text-decoration: none;
                font-family: $title-font;
                font-size: 18px;
                background: transparent;
                border: none;
              }

              button:focus{
                outline: none;
              }
          }
          }

          .form-card{
            width: 100%;
            height: 50%;

            form {
              width: 100%;
              height: 100%;

              input:focus {
                outline: none;
              }
              
              input[type=email] {
                font-weight: bolder;
                height: 55%;
                border-bottom: 2px solid $primary-contrast;
                border-right: 2px solid $primary-contrast;
              }
              
          input[type=submit] {
            cursor: pointer;
            margin-top: 10px;
            height: 55%;
            border-top: 2px solid $primary-contrast;
            border-left: 2px solid $primary-contrast;
            border-radius: 5px;
          }
        }
      }
    }

    .goal-form {
      width: 100%;
      height: 100%;
      // margin: auto;
      padding: 15%;
      align-items: center;
      justify-content: center;

      h2 {
        padding: 30px auto;
      }

      p{
        padding: 10px auto;
        color: $primary-light;
        font-size: 18px;
      }

      form {
       height: 100%;
       width: 100%;

       .inputs {
         padding: 10px;
         width: 100%;
         height: 100%;
          div {
          padding: 15px;
          width: 100%;
            input, select {
            width: 100%;
            padding: 10px;
          }

            select {
            cursor: pointer;
            border: 1px solid $primary-contrast;
          }
  
            input:focus, select:focus{
            outline: none;
            box-shadow: 0 0 5px $secondary-contrast;
          }

          input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
}
            input[type=text], input[type=number]{
            height: 100%;
            border-bottom: 2px solid $primary-contrast;
            border-right: 1px solid $primary-contrast;
          }

            input[type=submit]{
            height: 100%;
            cursor: pointer;
            border-top: 2px solid $primary-contrast;
            border-left: 2px solid $primary-contrast;
         }
        }
       }
      }
    }
    .media {
      display: none;
    }
  }


// Register and Login pages 
.auth-form-container {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  color: $primary-light;
  .form-card {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  width: 500px;
  height: 700px;
  border-radius: 11px;
  background: linear-gradient(315deg, $box-gradient-start , $box-gradiend-end);
  box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;

  h2 {
    margin: 30px 0;
    color: $primary-contrast;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  form {
    width: 80%;
    height: 80%;
    margin: 0, auto;
    text-align: center;
    input {
      width: 100%;
      height: 40px;
      margin: 10px 0;
      border-radius: 3px;
      border-right: solid 1px $primary-contrast ;
      border-bottom: solid 1px $primary-contrast ;
    }

    input:focus{
      outline: none;
      box-shadow: 0 0 10px $primary-contrast;
      background-color: $primary-dark;
    }

    input[type=submit]{
      cursor: pointer;
      background-color: $secondary-contrast;
      box-shadow: none;
      border: $primary-contrast solid 1px;
      font-weight: bold;
      transition: background-color .5s ease;
    }

    input[type=submit]:hover{
      background-color: $primary-contrast;
    }
  }

  .links {
    height: 20%;

    a {
      color: $primary-contrast;
      text-decoration: none;
      }
    }            
  }
}

// About and Contact Pages
.page-container {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  color: $primary-light;
 
  // Utility components
  // Nav bar: used in contact, about and setGoal  
    .page-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    h2{
      font-family: $title-font;
      color: $primary-contrast;
     }
  
      ul {
        padding-top: 20px;
        list-style-type: none;
        justify-self: flex-end;
        flex-direction: row;
        text-align: end;

        li {
          padding: 10px;
          height: auto;

          a {
            margin: 0 10px;
            padding: 0;
            text-decoration: none;
            color: $primary-light;
          }
        }
      }    
  }

  // Contact page
  .contact-content{
    margin-top: 5rem;
    align-self: center;
    justify-self: center;

    .info-cards {
      .info-card {
        margin: 20px;

        h4{
          font-size: 20px;
          color: $primary-contrast;
        }

        p{
          padding: 10px;
        }

        ul {
          padding: 10px 0;
          list-style: none;
          text-align: center;

          li {
            color: $primary-light;
            padding: 5px;
            a {
              color: $primary-light;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // About page
  .about-content {
    width: 100%;
    height: 100%;
    min-height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    .about-info {
      margin: 2rem 0 2rem 2rem;
      width: 30%;
      min-height: 600px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: start; 

      h2{
        font-family: $title-font;
        color: $primary-contrast;
        margin-bottom: 2rem;
      }

      p {
        width: 100%;
      }
    }

    .about-card {
      margin: 2rem 2rem 2rem 0;
      width: 50%;
      min-height: 600px;
      height: 100%;
      border-radius: 11px;        
      background: url('./img/sp_dashboard.jpg') no-repeat center center/cover;
      box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;
    }
  }

  // New goal creation
  .new-goal-form{
    margin: auto;
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .goal-card {
      width: 40%;
      min-height: 70%;
      border-radius: 11px;
      box-shadow:  -10px -10px 15px $shadow-top-left-alpha,
                   10px 10px 15px $shadow-bottom-right-alpha;

      h1, h2 {
        padding: 10px 0;
      } 
      
      form {
        height: 100%;
        width: 100%;
 
        .inputs {
          padding: 10px;
          width: 100%;
          height: 100%;
           div {
           padding: 15px;
           width: 100%;
             input, select {
             width: 100%;
             padding: 10px;
           }
 
             select {
             cursor: pointer;
             border: 1px solid $primary-contrast;
           }
   
             input:focus, select:focus{
             outline: none;
             box-shadow: 0 0 5px $secondary-contrast;
           }

           input[type=number]::-webkit-inner-spin-button, 
           input[type=number]::-webkit-outer-spin-button { 
           -webkit-appearance: none; 
           margin: 0; 
            }
   
             input[type=text], input[type=number]{
             height: 100%;
             border-bottom: 2px solid $primary-contrast;
             border-right: 1px solid $primary-contrast;
           }
 
             input[type=submit]{
             height: 100%;
             cursor: pointer;
             border-top: 2px solid $primary-contrast;
             border-left: 2px solid $primary-contrast;
           }
         }
        }
       }

       .button-holder {
         margin: auto;
         padding: 20px;
         width: 80%;
         height: 90%;
         display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;

          div {
            width: 50%;
          }
        button {
          width: 70px;
          padding: 5px;
          background: transparent;
          color: $secondary-light;
          font-size: 16px;
          font-family: $title-font;
          border: $primary-contrast 1px solid;
          border-radius: 3px;
        }
       }
      
      

    }
  }

  // Footer: used in about, contact and setGoal 
  .footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 85%;
    color: $primary-contrast;

    p {
      opacity: 0.3;
      color: $primary-contrast;
    }

}

}

@media(max-width:1175px){
#content-box { 
  .curr-goal-card {
    width: 500px;
    
    
  }
  .info-cards {
    .info-card {
      width: 200px;
      height: 150px;

      .content-money-card {
        width: 180px;
        height: 30px;
      }
    }

  }
  }
  
}
@media(max-width:920px){
.nav-box, .nav-footer {
  font-size: 16px !important;
}  
#content-box { 
  justify-content: start;
  .curr-goal-card {
    width: 400px;
  }
  .info-cards {
    .info-card {
      width: 150px;
      height: 100px;

      .content-money-card {
        width: 140px;
        height: 30px;

        span {
          font-size: 16px;
        }
      }
    }

  }

  .call-buttons-container {
    width: 200px;
    height: 50px;
    }
  .form-control {
    width: 350px;
    height: 40px;
    font-size: 16px;
  }  

  .latest-history-container {
    h2 {
      font-size: 20px;
    }
   ul {
     font-size: 16px !important;
     li {
       height: 30px;

       .sum, .date {
         font-size: 18px;
       }
        }
      }
    }
  }  
}

@media(max-width: 720px){
.container {
   flex-direction: column !important;
}
 .wrapper {
   flex-direction: column !important;
 } 
 .nav-box {
   flex-direction: row;
   justify-content:space-around;
   border-right: none;
   border-bottom: $shadow-bottom-right-alpha outset 7px;
   height: 10%  !important;
   width: 100%;
  
   h2 {
    display: none;
   }
   .nav-list {
   height: 10%;
    padding: 10px;
     ul {
       display: flex;
      flex-direction: row !important;
      justify-content: space-around;
       li {
         padding: 13px 0 0 0;
         width: 50px;
         a {
           font-size: 14px;
           width: 100%;
         }
       }
     }
   }
   .nav-footer {
     display: none;
   }
 } 
 #content-box {
   justify-content: start;
  width: 100%;

   .curr-goal-card {
    width: 400px;
    height: 70px;

    h2 {
      font-size: 18px;
    }

    .curr-goal-sum{
      height: 30px;
      width: 250px;
      span {
        font-size: 16px;
      }
    }

    
  }

  .info-cards {
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    .info-card {
      width: 350px;
      height: 70px;
      font-size: 16px;

      .content-money-card {
        height: 30px;
        width: 250px;
        padding: 10px;
        span {
          font-size: 14px;
        }
      }

      h4 {
        font-size: 18px;
      }
  
    }

   
  }
    .form-container {
      form {
        input {
          width: 300px !important;
        }
        input[type=number]{
          width: 305px;
        }
      }
    }
    .latest-history-container {
      h2 {
        font-size: 18px;
      }
     ul {
       font-size: 16px !important;
       li {
         height: 30px;
  
         .sign {
           font-size: 18px;
           height: .1%;
           padding: 1px 10px 0 0;
         }
         .sum, .date, .history-action {
           font-size: 16px;
         }
          }
        }
      }  

      .media {
        display: block;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 120px;
        padding: 20px;
        text-align: center;
        color: $primary-light;
        ul {
          list-style: none;
          padding-bottom: 20px;
          height: 50px;
         
          li {
              padding: 5px 10px;
  
              a{
                text-decoration: none;
                color: $primary-light;
                transition: all .5s ease;
                opacity: 0.2;
              }
              a:hover{
                color: $secondary-contrast;
                opacity: 1;
              }
            }
          
        }
  
        p{
          width: 100%;
          height: 20px;
          font-size: 12px;
          opacity: 0.2;
           color: $primary-contrast;
        }
      }
}


 }

@media(max-width: 360px){
   #content-box {
   .curr-goal-card {
    width: 250px;
    height: 70px;

    h2 {
      font-size: 18px;
    }

    .curr-goal-sum{
      height: 30px;
      width: 150px;
      span {
        font-size: 16px;
      }
    }

    
  }

  .info-cards {
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    .info-card {
      width: 250px;
      height: 70px;
      font-size: 16px;
      margin: 10px 0;
      .content-money-card {
        height: 20px;
        width: 150px;
        padding: 10px;
        span {
          font-size: 14px;
        }
      }

      h4 {
        font-size: 18px;
      }
  
    }

   
  }
    .form-container {
      form {
        input {
          width: 300px !important;
        }
        input[type=number]{
          width: 305px;
        }
      }
    }
    .latest-history-container {
      h2 {
        font-size: 18px;
      }
     ul {
       font-size: 16px !important;
       li {
         height: 30px;
  
         .sign {
           font-size: 18px;
           height: .1%;
           padding: 1px 10px 0 0;
         }
         .sum, .date, .history-action {
           font-size: 16px;
         }
          }
        }
      }  

      .media {
        display: block;
        position: relative;
        bottom: 0;
        width: 100%;
        height: 120px;
        padding: 20px;
        text-align: center;
        color: $primary-light;
        ul {
          list-style: none;
          padding-bottom: 20px;
          height: 50px;
         
          li {
              padding: 5px 10px;
  
              a{
                text-decoration: none;
                color: $primary-light;
                transition: all .5s ease;
                opacity: 0.2;
              }
              a:hover{
                color: $secondary-contrast;
                opacity: 1;
              }
            }
          
        }
  
        p{
          width: 100%;
          height: 20px;
          font-size: 12px;
          opacity: 0.2;
        }
      }
}
}