/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');  /* font-family: 'Kufam', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); /* font-family: 'Montserrat', sans-serif; */

// Variables 
// Fonts 
$title-font: 'Kufam', cursive;
$text-font: 'Montserrat', sans-serif;

// Colors 
$primary-dark: #212121;
$primary-light: #fff;
$primary-contrast: #fc8d00;
$secondary-dark: #535353;
$secondary-light: #f4f4f4;
$secondary-contrast: #eea344;
$shadow-top-left: #181818;
$shadow-top-left-alpha: rgba(24,24,24, 0.5);
$shadow-bottom-right: #2a2a2a;
$shadow-bottom-right-alpha: rgba(24,24,24, 0.1);;
$box-gradient-start: #1e1e1e;
$box-gradiend-end: #232323;

// General styling rules 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .container{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  font-family: $text-font;
  background: $primary-dark;
  text-align: center;
}


// Utility classes 
.content-card-out {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 11px;
  background: linear-gradient(315deg, $box-gradient-start , $box-gradiend-end);
  box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;
}
.content-card-inset {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 11px;
  background-color: $primary-dark;
  z-index: 1;
}

.content-card-inset::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
    z-index: -1;
}

.content-money-card {
  position: relative;
  width: 200px;
  height: 40px;
  border-radius: 11px;
  background-color: $primary-dark;
  padding: 5px;
  text-align: center;
  z-index: 2;

      span {
        color: $primary-light;
        letter-spacing: 3px;
        font-weight: bolder;
        font-size: 18px;
      }
}

.content-money-card::before{
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
    z-index: -1;
}

.pos-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pos-flex-split {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.title-l {
  font-family: $title-font;
  font-size: 26px; /* Change if ness */
}
.title-sm {
  font-family: $title-font;
  font-size: 24px; /* Change if ness */
}

.form-control {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-family: $text-font;
  font-size: 18px;
  color: $primary-light;
  background-color: $primary-dark;
  box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
}

.input-fix {
  width: 450px !important;
}

// UI styling 

// Dashboard


  // Navigation
  .nav-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 30%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    
    background-color: $primary-dark;
    z-index: 1;
    text-align: start;

    h2{
      height: 10%;
      padding: 20px 10px 20px 40px;
      color: $primary-contrast;
    }

    .nav-list {
     padding: 20px;
     width: 100%;
     flex: 2;

      ul{
        height: 100%;
        list-style: none;

        li {
          padding: 20px;
          color: $primary-light;
        }
   
        a{
          text-decoration: none;
          color: $primary-light;
          transition: color .5s ease;
        }
   
        a:hover{
          color: $secondary-contrast;
        }
      }

     

    }

    .nav-footer {
      width: 100%;
      flex: 1;
      padding: 20px;
      text-align: center;
      color: $primary-light;
      ul {
        list-style: none;
        padding-bottom: 20px;
        height: 70%;
       
        li {
            padding: 5px 10px;

            a{
              text-decoration: none;
              color: $primary-light;
              transition: all .5s ease;
              opacity: 0.2;
            }
            a:hover{
              color: $secondary-contrast;
              opacity: 1;
            }
          }
        
      }

      p{
        width: 100%;
        height: 30%;
        font-size: 12px;
        opacity: 0.2;
      }
    }

  }

  .nav-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    border-radius: 3px;
    box-shadow: inset -10px -10px 15px $shadow-top-left-alpha,
                inset 10px 10px 15px $shadow-bottom-right-alpha;
    z-index: -1;
  }



  // Main content 
  #content-box {
    width: 70%;
    min-height: 100%;
    max-height: 100%;
    justify-content: flex-start;

    .curr-goal-card {
      margin: 2rem;
      padding: 20px;
      text-align: center;
      width: 600px;
      height: 120px;
      z-index: 10;
      h2 {
        color: $primary-contrast;
      }
    }

    .curr-goal-sum{
      margin: 10px 0px;
      padding: 5px;
      text-align: center;
      width: 200px;
      height: 40px;
      z-index: 2;
      span {
        color: $primary-light;
        letter-spacing: 3px;
        font-weight: bolder;
      }
    }

    .info-cards {
      padding: auto 5px;
      width: 100%;
      height: auto;
      margin-top: 2rem;
      justify-content: space-around;
      .info-card {
        width: 250px;
        height: 150px;
        padding: auto 5px ;
        color: $primary-light;
        font-size: 18px;

        h4{
          font-family: $title-font;
          color: $secondary-contrast;
          font-size: 20px;
          padding-bottom: 10px;
        }
      }
    }

    .call-buttons-container {
      margin-top: 5rem;
      width: 200px;
      height: 100px;
      

     hr{
       border-color: $primary-contrast;
       width: 100%;
     }

      div {
        padding: 10px;
        width: 100%;
        height: 100%;
        text-align: start;

        a {
          padding-left: 20px;
          color: $primary-light;
          font-size: 18px;
          text-decoration: none;
          width: 100%;
          height: 100%;
        }
    
          p{
            display: inline;
            width: 80%;
         
          }
          span {
            width: 20%;
            height: 100%;
            font-size: 24px;
          }
     

        
      }

     
    }

    .form-container {
      margin: 40px 0;
      width: 100%;
      min-height: 100px;
      
      form {
        width: 100%;
        height: 100%;
        margin: auto;
        text-align: center;

        div{
          &:first-child{
            margin-right: 5px;
          }

          input:focus, select:focus {
            outline: none;
          }

          input[type=number] {
            font-weight: bolder;
            width: 300px;
            border-bottom: 2px solid $primary-contrast;
            border-right: 2px solid $primary-contrast;
          }
          input[type=number]::-webkit-inner-spin-button, 
          input[type=number]::-webkit-outer-spin-button { 
          -webkit-appearance: none; 
          margin: 0; 
}
          input[type=number], select {
            padding: 10px 25px;
            border-radius: 5px;
          }

          select {
            width: 150px;
            border: $primary-contrast solid 2px;
          }

          input[type=submit], select {
            cursor: pointer;
          }
          input[type=submit] {
            margin-top: 10px;
            width: 450px;
            height: auto;
            padding: 10px 30px;
            border-top: 2px solid $primary-contrast;
            border-left: 2px solid $primary-contrast;
            border-radius: 5px;
          }

        }

        
      }

      
    }

    .history-container {
      width: 100%;
      min-height: 400px;
      max-height: 400px;
      margin-bottom: 20px;
      text-align: start;

      h2 {
        font-size: 22px;
        font-family: $title-font;
        color: $primary-contrast;
        margin-bottom: 10px;
      }

      ul {
        text-align: start;
        list-style-type: none;
        li {
         width: 100%;
          height: 50px;
          color: $primary-light;
          font-size: 20px;
  
        .sign {
          width: 50px;
          height: auto;
          font-size: 24px;
          text-align: center;
          color: $primary-contrast;
          margin-right: 10px;
          padding: 10px;
        }

        .sum {
          margin: auto 5px;
          width: 300px;
          height: auto;
          text-align: start;
        }

        .date {
          width: 200px;
          height: 22px;
          text-align: end;
          color: $secondary-dark;
        }
  
        }
      }

    }
    
  }


// Register and Login pages 
.auth-form-container {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  color: $primary-light;
  .form-card {
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  width: 500px;
  height: 700px;
  border-radius: 11px;
  background: linear-gradient(315deg, $box-gradient-start , $box-gradiend-end);
  box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;

  h2 {
    margin: 30px 0;
    color: $primary-contrast;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  form {
    width: 80%;
    height: 80%;
    margin: 0, auto;
    text-align: center;
    input {
      width: 100%;
      height: 40px;
      margin: 10px 0;
      border-radius: 3px;
      border-right: solid 1px $primary-contrast ;
      border-bottom: solid 1px $primary-contrast ;
    }

    input:focus{
      outline: none;
      box-shadow: 0 0 10px $primary-contrast;
      background-color: $primary-dark;
    }

    input[type=submit]{
      cursor: pointer;
      background-color: $secondary-contrast;
      box-shadow: none;
      border: $primary-contrast solid 1px;
      font-weight: bold;
      transition: background-color .5s ease;
    }

    input[type=submit]:hover{
      background-color: $primary-contrast;
    }
  }

  .links {
    height: 20%;


    a {
      color: $primary-contrast;
      text-decoration: none;
    }

  }
                
  }
}

// About and Contact Pages
.page-container {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  color: $primary-light;
 
  // Utility components
  // Nav bar: used in contact, about and setGoal  
    .page-nav {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;

    
    h2{
      font-family: $title-font;
      color: $primary-contrast;
     }
  
      ul {
        padding-top: 20px;
        list-style-type: none;
        justify-self: flex-end;
        flex-direction: row;
        text-align: end;

        li {
          padding: 10px;
          height: auto;

          a {
            margin: 0 10px;
            padding: 0;
            text-decoration: none;
            color: $primary-light;
          }
        }
      }
  

      
  }

  // Contact page
  .contact-content{
    margin-top: 5rem;
    align-self: center;
    justify-self: center;

    .info-cards {
      .info-card {
        margin: 20px;

        h4{
          font-size: 20px;
          color: $primary-contrast;
        }

        p{
          padding: 10px;
        }

        ul {
          padding: 10px 0;
          list-style: none;
          text-align: start;

          li {
            color: $primary-light;

            a {
              color: $primary-light;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // About page
  .about-content {
    width: 100%;
    height: 100%;
    min-height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    .about-info {
      margin: 2rem 0 2rem 2rem;
      width: 30%;
      min-height: 600px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: start;

      h2{
        font-family: $title-font;
        color: $primary-contrast;
        margin-bottom: 2rem;
      }

      p {
        width: 100%;
      }
    }

    .about-card {
      margin: 2rem 2rem 2rem 0;
      width: 30%;
      min-height: 600px;
      height: 100%;
      border-radius: 11px;        
      background: url('./img/tired.jpeg') no-repeat center center/cover;
      box-shadow:  -10px -10px 20px $shadow-top-left,
                10px 10px 20px $shadow-bottom-right;
     
    }
  }

  // Footer: used in about, contact and setGoal 
  .footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 85%;
    color: $primary-contrast;

    p {
      opacity: 0.3;
      color: $primary-contrast;
    }

}

}